.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: inset 0px 4px 16px 0px var(--token-5JzzEgybN);
  position: relative;
  min-width: 0;
  border-radius: 20px;
  padding: 8px;
}
.root > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.root > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 800px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.home {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.music:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 0px;
  width: 105px;
}
.svg__as6I7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pSLw {
  color: #ffffff;
}
.svg__br5Gs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.musicPortfolio {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.filmvideo2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 0px;
  width: 105px;
}
.svg__s8Zpv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___30Yse {
  color: #ffffff;
}
.svg__zSySm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
