.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/disuko_website_v_2/images/backgroundjpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin-bottom: 0px;
}
.main {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  background: none;
  isolation: auto;
  backdrop-filter: none;
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: none;
  padding: 30px;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.main > :global(.__wab_flex-container) > picture > img,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    padding: 10px;
  }
}
.reveal__yKwZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 1523px;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
}
.freeBox__yb5C {
  display: flex;
  position: relative;
  width: 100%;
  align-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 48%,
      var(--token-yaM-ZOYCR) 49%
    )
    0% 0% / 20px 20px repeat;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: none;
  min-height: none;
  box-shadow: 4px 4px 8px 0px #00000033;
  transition-property: opacity;
  transition-duration: 1s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-width: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  border-radius: 15px;
  padding: 10px;
  margin: 0px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yb5C {
    width: 100%;
    margin-left: 0px;
    align-self: center;
    min-width: 0;
  }
}
.text__kzq5 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: center;
  color: var(--token-ADY-EXbQV);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  right: auto;
  width: auto;
  font-weight: 700;
  align-self: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kzq5 {
    font-size: 17px;
  }
}
.text__xWogX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Keqima";
  color: var(--token-sutrG6bU_);
  font-size: 24px;
  box-shadow: none;
  font-weight: 400;
  min-width: 0;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xWogX {
    font-size: 12px;
  }
}
.freeBox__a1LL {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a1LL {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__r9R4U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  z-index: 1;
  max-height: none;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r9R4U {
    padding: 0px;
  }
}
.text___5SwEn {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: center;
  color: var(--token-sutrG6bU_);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  right: auto;
  width: auto;
  font-weight: 700;
  margin: 10px;
}
.tilt__ruF32:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: sticky;
  text-align: center;
  align-self: center;
  left: 0px;
  top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tilt__ruF32:global(.__wab_instance) {
    max-width: none;
  }
}
.link__y6ZHg {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox___90CY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___90CY {
    display: flex;
  }
}
.img__gMnZk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 240px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__gMnZk > picture > img {
  object-fit: cover;
}
.img__gMnZk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gMnZk {
    height: 100%;
    max-width: none;
    min-height: 0;
  }
}
.freeBox__goQk1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting31 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  padding-bottom: 0px;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting31 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting32 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  box-shadow: none;
  font-style: normal;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting32 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.freeBox__jTn8A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jTn8A {
    padding: 0px;
  }
}
.text__qyVwN {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: center;
  color: var(--token-sutrG6bU_);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  right: auto;
  width: auto;
  font-weight: 700;
  margin: 10px;
}
.tilt___6SVvz:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tilt___6SVvz:global(.__wab_instance) {
    max-width: none;
  }
}
.link__ezl1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__govQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__govQ {
    display: flex;
  }
}
.img__im7MP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 240px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__im7MP > picture > img {
  object-fit: cover;
}
.img__im7MP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__im7MP {
    height: 100%;
    max-width: none;
    min-height: 0;
  }
}
.freeBox__qcUc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting7 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  padding-bottom: 0px;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting7 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  box-shadow: none;
  font-style: normal;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting8 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.reveal___2NxCq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.underConstruction:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .underConstruction:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__qWbzG {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__z94Gr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z94Gr {
    display: flex;
  }
}
.img__yADdN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img__yADdN > picture > img {
  object-fit: cover;
}
.img__yADdN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yADdN {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__pjlHe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting9 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting9 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting10 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting10 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.flotingOnCloudsRemix:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .flotingOnCloudsRemix:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__feFm {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__dCitF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dCitF {
    display: flex;
  }
}
.img__ixp2D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img__ixp2D > picture > img {
  object-fit: cover;
}
.img__ixp2D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ixp2D {
    height: 100%;
    min-height: 0;
  }
}
.freeBox___4CMkY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting11 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting11 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting12 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  padding-bottom: 0px;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting12 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.halloweenAve:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .halloweenAve:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__yCrCp {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__k5NG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k5NG {
    display: flex;
  }
}
.img__pUvcN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img__pUvcN > picture > img {
  object-fit: cover;
}
.img__pUvcN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pUvcN {
    height: auto;
  }
}
.freeBox__smP1X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting13 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 24px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting13 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting14 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting14 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.celestialBallad:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .celestialBallad:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__aJaX {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__dxIj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dxIj {
    display: flex;
  }
}
.img__cz762 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img__cz762 > picture > img {
  object-fit: cover;
}
.img__cz762 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cz762 {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__xp1Ee {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting15 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting15 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting16 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting16 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
._9A56E8Tracer:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._9A56E8Tracer:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__n72K8 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__iddJi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iddJi {
    display: flex;
  }
}
.img__zJdPk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img__zJdPk > picture > img {
  object-fit: cover;
}
.img__zJdPk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zJdPk {
    height: auto;
  }
}
.freeBox__q7EBz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting19 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  padding-left: 0px;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting19 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting20 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting20 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.flutter:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .flutter:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__mOgN {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox___1NIaD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1NIaD {
    display: flex;
  }
}
.img___2YoW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img___2YoW > picture > img {
  object-fit: cover;
}
.img___2YoW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2YoW {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__edM7R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting17 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  padding-left: 0px;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting17 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting18 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting18 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.fallenAngel:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fallenAngel:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__luP8A {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__sCpVz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sCpVz {
    display: flex;
  }
}
.img___2RekE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img___2RekE > picture > img {
  object-fit: cover;
}
.img___2RekE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2RekE {
    height: auto;
  }
}
.freeBox___2Mygh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting21 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  padding-left: 0px;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting21 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting22 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting22 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.raspberryFields:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .raspberryFields:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__rbUeV {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__f3Tgd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f3Tgd {
    display: flex;
  }
}
.img__yjEkp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img__yjEkp > picture > img {
  object-fit: cover;
}
.img__yjEkp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yjEkp {
    height: auto;
  }
}
.freeBox__ekNc2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting23 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  padding-left: 0px;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting23 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting24 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting24 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.iceCreamParlor:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .iceCreamParlor:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__rccRr {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__ju6I7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ju6I7 {
    display: flex;
  }
}
.img__bB47F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img__bB47F > picture > img {
  object-fit: cover;
}
.img__bB47F > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bB47F {
    height: auto;
  }
}
.freeBox__xL5Ys {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting25 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  padding-left: 0px;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting25 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting26 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting26 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.nuclearChristmas:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nuclearChristmas:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link___8KMci {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__xakKz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xakKz {
    display: flex;
  }
}
.img__dVgKh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img__dVgKh > picture > img {
  object-fit: cover;
}
.img__dVgKh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__dVgKh {
    height: auto;
  }
}
.freeBox__ml4Ka {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting27 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  padding-left: 0px;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting27 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting28 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting28 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.bigShot:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bigShot:global(.__wab_instance) {
    max-width: none;
    left: auto;
    top: auto;
  }
}
.link__fm5Y9 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__qsrdc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qsrdc {
    display: flex;
  }
}
.img___4SvHm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 15px;
}
.img___4SvHm > picture > img {
  object-fit: cover;
}
.img___4SvHm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4SvHm {
    height: auto;
  }
}
.freeBox__lGChf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting29 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  padding-left: 0px;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting29 {
    left: auto;
    top: auto;
    right: auto;
    font-size: 17px;
  }
}
.greeting30 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px 5px 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting30 {
    left: auto;
    top: auto;
    font-size: 12px;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
