.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  background: url("/plasmic/disuko_website_v_2/images/backgroundjpg.jpeg") top 50% left 50% / cover repeat;
  backdrop-filter: blur(15px);
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: blur(15px);
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin-bottom: 0px;
}
.freeBox__fu4Gi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  isolation: auto;
  backdrop-filter: none;
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: none;
  padding: 30px;
}
.freeBox__fu4Gi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__fu4Gi > :global(.__wab_flex-container) > *,
.freeBox__fu4Gi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fu4Gi > :global(.__wab_flex-container) > picture > img,
.freeBox__fu4Gi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 1523px;
  display: flex;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 1 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___3Bk84 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px;
  border: 0px solid var(--token-U10-R6P8l);
}
.freeBox___996D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.retroDisuko:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  left: auto;
  top: auto;
  flex-shrink: 0;
  display: block;
  margin: 0px 0px 3px 20px;
}
.freeBox__aEtbN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 48%,
      var(--token-yaM-ZOYCR) 49%
    )
    0% 0% / 20px 100% repeat;
  box-shadow: 0px 4px 16px 0px #00000033;
  align-self: center;
  min-height: 0;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aEtbN {
    left: auto;
    top: auto;
    margin: 0px;
  }
}
.img__smDm6 {
  object-fit: cover;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 286px;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  border-radius: 15px;
  margin: 0px;
}
.img__smDm6 > picture > img {
  object-fit: cover;
}
.img__smDm6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__smDm6 {
    height: auto;
  }
}
.greeting {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: center;
  color: var(--token-SvhC9Dosd);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  right: auto;
  width: auto;
  align-self: center;
  padding-right: 0px;
  font-weight: 700;
  margin: 5px;
}
.greeting2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: center;
  color: var(--token-sutrG6bU_);
  font-family: "Keqima";
  z-index: 1;
  font-size: 24px;
  font-weight: 400;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting2 {
    font-size: 18px;
  }
}
.socials {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.youtube {
  display: flex;
  margin: 10px;
}
.svg__uDscw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-U10-R6P8l);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.instagram {
  display: flex;
  margin: 10px;
}
.svg__hsIOy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-U10-R6P8l);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.twitter {
  display: flex;
  margin: 10px;
}
.svg___22AmV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-U10-R6P8l);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.column__dIbkw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dIbkw {
    display: none;
  }
}
.column___1NhLy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1NhLy {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    overflow: hidden;
    display: none;
  }
}
.tilt__bOtSg:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: left;
  align-self: flex-end;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tilt__bOtSg:global(.__wab_instance) {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
  }
}
.link__ysjXi {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  box-shadow: 0px 4px 16px 0px #0000001a;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ysjXi {
    max-width: 384px;
    overflow: visible;
    margin-right: 0px;
    position: relative;
    left: auto;
    top: auto;
    align-self: auto;
    z-index: 1;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    min-width: none;
    width: 100%;
    display: none;
  }
}
.freeBox__hv0Bo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hv0Bo {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}
.img__tSjvo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 202px;
  flex-shrink: 1;
  min-width: 0;
  border-radius: 15px;
}
.img__tSjvo > picture > img {
  object-fit: cover;
}
.img__tSjvo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__tSjvo {
    align-self: center;
  }
}
.freeBox___2G9XT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2G9XT {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.greeting3 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  font-weight: 700;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting3 {
    left: auto;
    top: auto;
    right: auto;
    align-self: center;
  }
}
.greeting4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 700;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting4 {
    left: auto;
    top: auto;
    font-size: 14px;
    align-self: center;
  }
}
.tilt__lPlMm:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: left;
  align-self: flex-start;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0px;
}
.link___41QBa {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: 250px;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  box-shadow: 0px 4px 16px 0px #0000001a;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox___7LaZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__z3Ktm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__z3Ktm > picture > img {
  object-fit: cover;
}
.img__z3Ktm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___4Pi3W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting5 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  font-weight: 700;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting5 {
    left: auto;
    top: auto;
    right: auto;
  }
}
.greeting6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  padding-bottom: 0px;
  font-weight: 700;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting6 {
    left: auto;
    top: auto;
  }
}
.tilt__rW73:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: left;
  align-self: flex-end;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0px;
}
.link__gTB {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  box-shadow: 0px 4px 16px 0px #0000001a;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__tZc1G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___6Wf1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 202px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img___6Wf1 > picture > img {
  object-fit: cover;
}
.img___6Wf1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___83Pqt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting7 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  font-weight: 700;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting7 {
    left: auto;
    top: auto;
    right: auto;
  }
}
.greeting8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 700;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting8 {
    left: auto;
    top: auto;
  }
}
.freeBox__qLtsX {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qLtsX {
    display: flex;
  }
}
.tilt__yjSwI:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link__gDcKz {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gDcKz {
    max-width: 384px;
    overflow: visible;
    position: relative;
    left: auto;
    top: auto;
    align-self: auto;
    z-index: 1;
    height: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-width: none;
    width: 100%;
    margin: 10px;
  }
}
.freeBox__cdPvr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cdPvr {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: none;
  }
}
.img__cyChR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__cyChR > picture > img {
  object-fit: cover;
}
.img__cyChR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cyChR {
    align-self: center;
    display: none !important;
  }
}
.freeBox__ibexz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ibexz {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.img__c9Iym {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__c9Iym > picture > img {
  object-fit: cover;
}
.img__c9Iym > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__c9Iym {
    align-self: center;
    height: 213px;
    flex-shrink: 0;
  }
}
.greeting9 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting9 {
    left: auto;
    top: auto;
    right: auto;
    align-self: center;
  }
}
.greeting10 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting10 {
    left: auto;
    top: auto;
    font-size: 14px;
    align-self: center;
    text-align: center;
  }
}
.tilt___6Plsa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tilt___6Plsa:global(.__wab_instance) {
    display: flex;
  }
}
.link__yi9Ap {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yi9Ap {
    max-width: 384px;
    overflow: visible;
    position: relative;
    left: auto;
    top: auto;
    align-self: auto;
    z-index: 1;
    height: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-width: none;
    width: 100%;
    margin: 10px;
  }
}
.freeBox__gSwrH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gSwrH {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: none;
  }
}
.img__n4M3L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__n4M3L > picture > img {
  object-fit: cover;
}
.img__n4M3L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__n4M3L {
    align-self: center;
    display: none !important;
  }
}
.freeBox___0ASif {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0ASif {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.img__xp9M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__xp9M > picture > img {
  object-fit: cover;
}
.img__xp9M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xp9M {
    align-self: center;
    height: 213px;
    flex-shrink: 0;
  }
}
.greeting15 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting15 {
    left: auto;
    top: auto;
    right: auto;
    align-self: center;
  }
}
.greeting16 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting16 {
    left: auto;
    top: auto;
    font-size: 14px;
    align-self: center;
    text-align: center;
  }
}
.tilt__k8YzK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tilt__k8YzK:global(.__wab_instance) {
    display: flex;
  }
}
.link___9SW7I {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___9SW7I {
    max-width: 384px;
    overflow: visible;
    position: relative;
    left: auto;
    top: auto;
    align-self: auto;
    z-index: 1;
    height: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-width: none;
    width: 100%;
    margin: 10px;
  }
}
.freeBox__dr4Jt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dr4Jt {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: none;
  }
}
.img__zi0Pg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__zi0Pg > picture > img {
  object-fit: cover;
}
.img__zi0Pg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zi0Pg {
    align-self: center;
    display: none !important;
  }
}
.freeBox__znKC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__znKC {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.img___2OVuv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img___2OVuv > picture > img {
  object-fit: cover;
}
.img___2OVuv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2OVuv {
    align-self: center;
    height: 213px;
    flex-shrink: 0;
  }
}
.greeting17 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting17 {
    left: auto;
    top: auto;
    right: auto;
    align-self: center;
  }
}
.greeting18 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting18 {
    left: auto;
    top: auto;
    font-size: 14px;
    align-self: center;
    text-align: center;
  }
}
.link__mAk92 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
  padding: 8px;
  margin: 10px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mAk92 {
    display: none;
  }
}
.freeBox__lY06H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lY06H {
    display: none;
  }
}
.img__s4JyT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__s4JyT > picture > img {
  object-fit: cover;
}
.img__s4JyT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__s4JyT {
    display: none !important;
  }
}
.freeBox__qnS5X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rbiSk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__rbiSk > picture > img {
  object-fit: cover;
}
.img__rbiSk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.greeting11 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting11 {
    left: auto;
    top: auto;
    right: auto;
    text-align: center;
    align-self: center;
  }
}
.greeting12 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting12 {
    left: auto;
    top: auto;
    align-self: center;
    text-align: center;
  }
}
.img__qich6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__qich6 > picture > img {
  object-fit: cover;
}
.img__qich6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__qich6 {
    display: none !important;
  }
}
.link__inEf {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  margin: 10px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__inEf {
    display: none;
  }
}
.freeBox___2APpy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2APpy {
    display: none;
  }
}
.img__xtY8N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 15px;
}
.img__xtY8N > picture > img {
  object-fit: cover;
}
.img__xtY8N > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xtY8N {
    display: none !important;
  }
}
.freeBox__lkFy6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting13 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting13 {
    left: auto;
    top: auto;
    right: auto;
    text-align: center;
    align-self: center;
  }
}
.greeting14 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting14 {
    left: auto;
    top: auto;
    text-align: center;
    align-self: center;
  }
}
.contact {
  display: flex;
  position: relative;
  width: 1523px;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 48%,
      var(--token-yaM-ZOYCR) 49%
    )
    0% 0% / 20px 20px repeat;
  margin-left: 0px;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: none;
  min-height: none;
  box-shadow: 4px 4px 8px 0px #0000001a;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  transition-property: opacity;
  transition-duration: 1s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  border-radius: 15px;
  padding: 10px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact {
    width: 297px;
    margin-left: 0px;
    align-self: center;
    left: auto;
    top: auto;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__vM57J {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: center;
  color: var(--token-ADY-EXbQV);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  right: auto;
  width: auto;
  align-self: center;
  font-weight: 700;
  margin: 10px;
}
.main__a7HYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 771px;
  left: auto;
  top: auto;
  text-align: center;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 24px;
  align-self: center;
  font-weight: 700;
  min-width: 0;
  margin: 10px;
}
.mail {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 684px;
  height: auto;
  max-width: 100%;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  text-align: center;
  font-size: 34px;
  background: #ffffff;
  border-radius: 7.5px;
  padding: 0px;
  margin: 10px;
  border: 4px solid var(--token-U10-R6P8l);
}
.text__q87Lt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  background: var(--token-e6EYtmsZU);
  align-self: center;
  font-weight: 700;
  min-width: 0;
}
.main__auIvg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 771px;
  left: auto;
  top: auto;
  text-align: center;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 24px;
  align-self: center;
  font-weight: 700;
  min-width: 0;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main__auIvg {
    left: auto;
    top: auto;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
