.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/disuko_website_v_2/images/backgroundjpg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navbar:global(.__wab_instance):global(.__wab_instance) {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin-bottom: 0px;
}
.main {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  background: none;
  isolation: auto;
  backdrop-filter: none;
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  min-height: 0;
  -webkit-backdrop-filter: none;
  padding: 30px;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.main > :global(.__wab_flex-container) > picture > img,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 1523px;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
}
.freeBox__yb5C {
  display: flex;
  position: relative;
  width: 100%;
  align-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 48%,
      var(--token-yaM-ZOYCR) 49%
    )
    0% 0% / 20px 20px repeat;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: none;
  min-height: none;
  box-shadow: 4px 4px 8px 0px #00000033;
  transition-property: opacity;
  transition-duration: 1s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-width: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  border-radius: 15px;
  padding: 10px;
  margin: 0px;
  border: 8px solid var(--token-U10-R6P8l);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yb5C {
    width: 297px;
    margin-left: 0px;
    align-self: center;
  }
}
.text__kzq5 {
  position: sticky;
  height: auto;
  max-width: 800px;
  left: auto;
  top: 0px;
  text-align: center;
  color: var(--token-ADY-EXbQV);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  right: 0px;
  width: auto;
  font-weight: 700;
  margin: 10px;
}
.text__xWogX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Keqima";
  color: var(--token-SvhC9Dosd);
  font-size: 24px;
  box-shadow: none;
  font-weight: 600;
  min-width: 0;
  margin: 10px;
}
.freeBox__a1LL {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__r9R4U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___5SwEn {
  position: sticky;
  height: auto;
  max-width: 800px;
  left: auto;
  top: 0px;
  text-align: center;
  color: var(--token-sutrG6bU_);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  right: 0px;
  width: auto;
  font-weight: 700;
  margin: 10px;
}
.tilt___6SVvz:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.link__ezl1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__govQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__im7MP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 219px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__im7MP > picture > img {
  object-fit: cover;
}
.img__im7MP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__qcUc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting7 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  width: auto;
  align-self: flex-end;
  padding-bottom: 0px;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting7 {
    left: auto;
    top: auto;
    right: auto;
  }
}
.greeting8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  box-shadow: none;
  font-style: normal;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting8 {
    left: auto;
    top: auto;
  }
}
.freeBox__jTn8A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qyVwN {
  position: sticky;
  height: auto;
  max-width: 800px;
  left: auto;
  top: 0px;
  text-align: center;
  color: var(--token-sutrG6bU_);
  font-family: "ABeeZee", sans-serif;
  z-index: 1;
  font-size: 34px;
  right: 0px;
  width: auto;
  font-weight: 700;
  margin: 10px;
}
.tilt___6O9HJ:global(.__wab_instance) {
  max-width: 60%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.link__qWbzG {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
      90deg,
      var(--token-4g29keipI) 51%,
      var(--token-yaM-ZOYCR) 52%
    )
    0% 0% / 20px 100% repeat;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 8px solid var(--token-U10-R6P8l);
}
.freeBox__z94Gr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yADdN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 219px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__yADdN > picture > img {
  object-fit: cover;
}
.img__yADdN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__pjlHe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.greeting9 {
  position: relative;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-SvhC9Dosd);
  font-family: "Keqima";
  z-index: 1;
  font-size: 30px;
  width: auto;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting9 {
    left: auto;
    top: auto;
    right: auto;
  }
}
.greeting10 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  text-align: right;
  color: var(--token-ADY-EXbQV);
  font-family: "Keqima";
  z-index: 1;
  font-size: 18px;
  align-self: flex-end;
  font-weight: 600;
  margin: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .greeting10 {
    left: auto;
    top: auto;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
